<% provide(:title, "About") %>
<div class="container-fluid">
	<div class="row">	
		<div class="col-xs-12">
			<p>
				After years of enjoying Red October, at the end of 2016 we decided on a change. Red is a Morgan 384. Built in 1983, she is in the old-plastic, blue-water category. She could take us anywhere in the world, but that is not what we wanted to do. She is strong, an outstanding sailboat but as we get older, comfort becomes more important. Anyway, we are more interested in cruising the east coast of Australia rather than ocean passage-making. Red needed a new home and we needed a new boat.
			</p>
			<%= image_tag 'red_october_640x640.jpg', alt: 'Journal', class: "img-responsive center-block image-border" %>
			<p class="image-caption text-center">
				Red October waiting for the weather for her first cruise.
			</p>
			<p>
				We came across Cat Play - though that was not yet her name - on the Gold Coast, Queensland. We were looking for a small catamaran, around 10m, with accommodations for the two of us and the cats. Our experience with renovating and operating Red October held us in good stead in spotting and assessing a good boat. We had already had a look at a few other cats but nothing really clicked. For months, the Cat Play stayed on the net as we looked for our new boat. The marketing was less than stellar - online, she looked shabby and ill-kept - but Kim was strangely drawn to her. In the end we decided to invest in a trip to the Gold Coast to look her over. She is a Simpson Cloud 10 with sugar-scoop steps and a targa bar. There are two main double cabins, a small single cabin (given over to storage), a 'down' galley with fridge / freezer, double gas ring and double sink, the head has an elecric sea toilet and hot shower, and the cockpit is spaceous enough for us both to relax in. She is powered by two Nanni 21hp diesels with saildrives.
			</p>
			<%= image_tag 'cat_play_first_sight_640x480.jpg', alt: 'Cat Play first sight', class: "img-responsive center-block image-border" %>
			<p class="image-caption text-center">
				Our first look at Cat Play.
			</p>
			<p>
				The first time we saw Cat Play, armed with a comprehensive checklist, we went over every inch. There were areas that needed some TLC but, fundamentally, she is a sound boat with most of the equipment in working order. She needed a new foresail, a full electronics package, and the engines needed a service. The cockpit was very exposed so we had a frame made to enclose it to the transom and added shade-cloth. We had other cloths made up - hatch covers and a sailbag - and a spare spinnaker was recut and bagged. After a few weeks of visiting tradies, and weekend trips to get her ready, we set for a 5 month cruise up to Northern Queensland.
			</p>
			<%= image_tag 'cat_play_spinnaker_480x640.jpg', alt: 'Cat Play at sea', class: "img-responsive center-block image-border" %>
			<p class="image-caption text-center">
				Cat Play under way on her first trip with us.
			</p>
			<p>
				This site, then, is all about Cat Play, her crew, her travels, and her oily-bits.
			</p>
		</div>
	</div>	
</div>

