<% provide(:title, "Contact") %>
<h1 class="text-center">contact</h1>
<div class="row">	
	<div class="col-xs-12">
		<%= render 'messages/contact_form' %>
	</div>
</div>	
<div class="tapered-line"></div>
<div class="row">	
	<div class="col-xs-12">
		<h2>Social Media Links</h2> 
	</div>
</div>
<div class="row">	
	<div class="col-sm-1">
	</div>
	<div class="col-sm-4 socmed-logo">
		<a href="https://www.facebook.com/kim.roach.75">
			<%= image_tag 'facebook_267x267.svg', alt: 'Facebook Logo' %>
			<h2>Kim</h2>
		</a>
	</div>
	<div class="col-sm-2">
	</div>
	<div class="col-sm-4 socmed-logo">
		<a href="https://www.facebook.com/steve.roach.18">
			<%= image_tag 'facebook_267x267.svg', alt: 'Facebook Logo' %>
			<h2>Steve</h2>
		</a>
	</div>
</div>	
<div class="tapered-line"></div>
<div class="row">	
	<div class="col-xs-12">
		<h2>Location</h2> 
	</div>
</div>
<div class="row">	
	<div class="col-xs-12">
		<img src="//maps.googleapis.com/maps/api/staticmap?center=-31.430704,152.907355&amp;zoom=11&amp;size=600x300&amp;maptype=roadmap&amp;markers=color:red%7C-31.430704,152.907355&amp;key-AIzaSyAmbNIfc7nZvbBOWKWTlKgzH3ARWmwH75c" alt="Current Location" class=" img-responsive center-block map-image">
	</div>
</div>

