<% provide(:title, "Maintain Sections") %>
<h1 class="text-center">list / delete sections</h1>
<div class="row text-center">
	<%= will_paginate %>
</div>
<div class="row">
	<ul class=admin-list>
		<% @sections.each do |section| %>
			<li>
				<div class="col-md-5 col-md-offset-3 col-xs-6 col-xs-offset-2">
					<%= section.name %>
				</div>
				<div class="col-md-1 col-xs-2">
					<%= link_to "Delete", section, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default form-button delete-button" %>
				</div>
			</li>
		<% end %>
	</ul>
</div>
<div class="row text-center">
	<%= will_paginate %>
</div>
